<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload your form</title>
</head>
<body>
    <form id="dataForm" action='/upload_data' method='post'>

        <label for = "camera_view">Camera View</label><br>
         <input type = "text" name = "camera_view" placeholder = "camera_view" /><br>
         <label for = "camera_id">Company Id</label><br>
         <input type = "text" name = "camera_id" placeholder = "camera_id" /><br>
         <label for = "api_key">Api Key</label><br>
         <textarea name = "api_key" placeholder = "api_key"></textarea><br>
<!--         <label for = "created_time">Created Time</label><br>-->
<!--         <input type = "text" name = "created_time" placeholder = "created_time" /><br>-->
         <input type = "submit" value = "Submit" />
    </form>
</body>
</html>
